.text {
    min-width: 100%;
    height: auto;
    background-image: url('../../assets/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.text-title {
    width: auto;
    margin: 32vh 0 0 10vw;
}
.text-title__h3 {
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
}
.text-title__h1 {
    font-size: 4vw;
    color: #fff;
    font-weight: bold;
    line-height: 1.04;
}
.text-title__h5 {
    width: 9vw;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.text-title__h5:hover{
    color: rgb(212, 212, 212);
    border-bottom: 2px solid rgba(0, 0, 0, 0.582);
}
.text-footer {
    list-style-type: none;
    display: flex;
    margin: 2vw 0 2.5vw 6vw;
}
.text-footer__item{
    width: 27%;
    margin: 0 2%;
    font-size: 1.2vw;
    font-weight: bold;
    color: #fff;
}
.text-footer__item:nth-child(2){
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 4%;
}

@media screen and (max-width:320px){
    .text-title {
        margin: 5vh 0 0 5vw;
    }
    .text-title__h3{
        font-size: 5vw;
    }
    .text-title__h1{
        font-size: 7vw;
    }
    .text-title__h5{
        width: 27vw;
        font-size: 3.5vw;
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .text-footer {
        margin: 3vw 0 5vw 0;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
    }
    .text-footer__item{
        width: 100%;
        margin: 0;
        font-size: 4vw;
        font-weight: bold;
        color: #fff;
        
    }
    .text-footer__item:nth-child(2){
        border: none;
        padding: 0;
        margin: 3% 0;
    }
}

@media screen and (max-width:320px){
    .text-title {
        margin-top: 50px;
    }   
}